@model IEnumerable<SpinaBets.DTO.BettingReportDto>

<h2>Betting Report</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Bet Id</th>
            <th>Account</th>
            <th>Game</th>
            <th>Selection</th>
            <th>Stake</th>
            <th>Odds</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BetId</td>

                <td>@item.AccountNumber</td>

                <td>
                    @item.HomeTeam vs @item.AwayTeam
                </td>

                <td>@item.Selection</td>

                <td>R @item.Stake</td>

                <td>@item.Odds</td>

                <td>@item.Status</td>
            </tr>
        }

    </tbody>

</table>